@model RemoteChecker.Models.Person

@{
    ViewData["Title"] = "Список чекеров";
}


@if (User.Identity.Name == "admin")
{
    <h1>Список чекеров пользователя @Html.DisplayFor(model => model.Login)</h1>
}
else
{
    <h1>Список чекеров</h1>
}
<div>
    @if (User.Identity.Name != "admin")
    {
        <p>
            <a asp-controller="CheckRequests" asp-action="Create">Добавить новый</a>
        </p>
    }

    <table class="table">
        <thead>
            <tr>
                <th>
                    Адрес хоста
                </th>
                <th>
                    CRON
                </th>
                <th>
                    Активен
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CheckRequests)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HostAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cron)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @if ((bool)ViewData["admin"])
                    {
                        <a asp-action="ActiveChange" asp-route-id="@item.ID">@(item.Active ? "Деактивировать" : "Активировать")</a>
                    }
                    @if ((bool)ViewData["admin"] && item.Person.Login == User.Identity.Name || !(bool)ViewData["admin"])
                    {
                        <a asp-controller="CheckRequests" asp-action="Edit" asp-route-id="@item.ID">Изменить</a>
                        <a asp-controller="CheckRequests" asp-action="Details" asp-route-id="@item.ID">Информация</a>
                    }
                    <a asp-controller="CheckRequests" asp-action="Delete" asp-route-id="@item.ID">Удалить</a>

                </td>
            </tr>
            }
        </tbody>
    </table>
</div>
<div>
    @if ((bool)ViewData["admin"] && Model.Role.Name != "Администратор")
    {
        <a asp-action="Delete" asp-route-id="@Model.ID">Удалить пользователя</a>
        <br />
    }
    <a asp-action="Index">Назад к списку пользователей</a>
</div>


