@model IEnumerable<RemoteChecker.Models.CheckRequest>

@{
    ViewData["Title"] = (bool)ViewData["admin"] ? "Список чекеров" : "Мои чекеры";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Добавить чекер</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Адрес хоста
            </th>
            <th>
                CRON-выражение
            </th>
            <th>
                Активен
            </th>
            <th>
                Владелец
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HostAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cron)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Person.Login)
                </td>
                <td>
                    @{
                        if ((bool)ViewData["admin"])
                        {
                            <a asp-action="ActiveChange" asp-route-id="@item.ID">@(item.Active ? "Деактивировать" : "Активировать")</a>
                            <span>|</span>
                        }
                        if ((bool)ViewData["admin"] && item.Person.Login == User.Identity.Name || !(bool)ViewData["admin"])
                        {
                            <a asp-action="Edit" asp-route-id="@item.ID">Изменить</a>
                            <span>|</span>
                        }
                        <a asp-action="Details" asp-route-id="@item.ID">Информация</a>
                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.ID">Удалить</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
